/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(assets/pbg2.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
}